@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --z-floating: 30;
  --z-header: 40;
  --z-overlay: 50;
  --z-modal: 60;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-xs: 30rem;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
  overflow-y: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .z-layer-floating {
    z-index: var(--z-floating);
  }

  .z-layer-header {
    z-index: var(--z-header);
  }

  .z-layer-overlay {
    z-index: var(--z-overlay);
  }

  .z-layer-modal {
    z-index: var(--z-modal);
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  main {
    flex-grow: 1;
  }
}
